* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 27px;
  color: #5b6d66;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3 {
  color: #f49835;
  font-size: 55px;
  font-weight: normal;
  line-height: 67px;
  margin-bottom: 27px;
  position: relative;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}

.container__inner {
  max-width: 1315px;
  margin: auto;
  padding: 0 15px;
}

.container {
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__about {
  margin-bottom: 40px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.burger__menu {
  display: none;
}

.header__menu .list {
  display: flex;
}

.list>li>a {
  font-weight: bold;
  padding: 20px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5b6d66;
  font-size: 21px;
}

.header__menu .list li.item__second a::after {
  content: "\f107";
  font: 21px/1 FontAwesome;
  color: #5b6d66;
  position: absolute;
  margin-left: 15px;
  font-size: 21px;
  line-height: 1;
  font-family: FontAwesome;
}

nav .list li a.active,
nav .list li a:hover {
  color: #ffffff;
  background: #f49835;
}

nav .list .item__second a {
  padding-right: 40px;
}

.sub__menu {
  opacity: 0;
  position: absolute;
  z-index: 5;
  width: 200px;
  transition: .3s ease-in-out;
}

.sub__menu a {
  background: #5b6d66;
  border-top: 1px solid #ECF1F2;
  color: #f5f5f5;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 6px 20px;
}

nav li:hover>.sub__menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.video {
  padding-bottom: 31px;
  background: #EEF0Ef;
  padding-top: 30px;
  width: 100%;
}

.video__title {
  margin-top: 27px;
}

.video__inner {
  max-width: 770px;
}

.video__inner-title,
.time__title,
.history__year,
.main__bg-avtor,
.services__gallery-title {
  color: #5b6d66;
  font-size: 21px;
  font-weight: bold;
  line-height: 37px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.history__year {
  margin-top: 15px;
}

.main__bg-avtor {
  color: #ffffff;
  margin-top: 15px;
}

.main__bg-link {
  color: #ffffff;
  font-size: 15px;
}

.main__bg-link:hover {
  color: #f49835;
}

.video__inner-text {
  margin-bottom: 40px;
}

.time {
  padding: 90px 0 67px;
}

.slider {
  padding-top: 30px;
  padding-bottom: 40px;
}

.slider__item .slider__item-img {
  width: 100%;
  height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
}

.triangle::after {
  position: absolute;
  top: 145px;
  left: -116%;
  width: 2000px;
  height: 2000px;
  border: 28px solid #ffffff;
  background: #5b6d66;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -860px;
  margin-right: 490px;
  z-index: -1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 3;
}

.triangle__container {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  height: 100%;
  max-width: 60%;
}

.triangle {
  display: inline-block;
  max-width: 98%;
  vertical-align: middle;
  width: 100%;
  text-align: right;
  padding: 0px;
  background: none;
}

.triangle:before {
  content: "";
  display: inline-block;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  width: 0;
}

.triangle .slide__item-info h3 {
  color: #ffffff;
  width: 100%;
  max-width: 800px;
  padding: 200px 0 0 20%;
  text-align: left;
  font-size: 35px;
  line-height: 71px;
  position: relative;
  z-index: 6;
}

.triangle .slide__item-info h3 strong {
  display: block;
  font-weight: 800;
}

.triangle .slide__item-info h3 span {
  color: #f49835;
}

.prev,
.next {
  background: transparent;
  cursor: pointer;
  top: 50%;
  position: absolute;
  display: block;
  font: 75px/70px FontAwesome;
  color: #f49835;
  z-index: 9;
  outline: none;
  border: none;
  padding: 16px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  background-color: #f49835;
  color: white;
}

.prev:before {
  content: '\f104';
}

.next:before {
  content: '\f105';
}

.history__items {
  display: flex;
  justify-content: space-between;
}

.history__item {
  max-width: 45%;
}

.time__photo-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

figure {
  max-width: 270px;
  margin-bottom: 30px;
}

.history {
  background: #EEF0Ef;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 60px;
}

.history__title {
  margin: 30px 0;
}

.main__bg {
  background: url(../img/writer-bg.jpg) fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 95px;
  color: #ffffff;
}

.main__bg .container {
  max-width: 1210px;
}

.navigation {
  background: #ffffff;
  padding-top: 30px;
  width: 100%;
  position: relative;
}

.delivary__costs {
  overflow: hidden;
  background: #f49835;
  color: #ffffff;
}

.delivary__costs-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivary__costs-calculation {
  font: 98px/178px FontAwesome;
  padding: 45px 24% 45px 58px;
  position: relative;
  display: flex;
}

.delivary__costs-calculation::after {
  position: absolute;
  content: "";
  width: 2000px;
  height: 2000px;
  background: #eef0ef;
  top: 0;
  right: 0;
  z-index: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(45deg);
  border: 28px solid #ffffff;
  margin-top: -1037px;
  margin-right: 473px;
}

.events__news-main-title {
  padding-top: 27px;
}

.events__news-wrap {
  overflow: hidden;
  background: #f49835;
  color: #ffffff;
  margin-bottom: 40px;
}

.events__news-inner {
  display: flex;
  justify-content: space-around;
}

.events__news-info {
  min-width: 30%;
  padding: 35px 30px 39px 34px;
  position: relative;
  display: flex;
}

.events__news-info::before {
  position: absolute;
  content: "";
  width: 1000px;
  height: 1000px;
  bottom: -208%;
  right: 170px;
  top: 0;
  margin-top: -550px;
  border: 28px solid #eef0ef;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #ffffff;
  z-index: 0;
}

.events__news-wrap:nth-child(even) .events__news-info::before {
  margin-top: -355px;
}

.events__news-title {
  font-size: 21px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 22px;
  color: #ffffff;
}

.events__news-content {
  max-width: 49%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.events__news-btn>span span::after {
  content: "\f105";
  font: 80px/1 FontAwesome;
  color: #ffffff;
}

.events__news-date {
  color: #f49835;
  font-size: 91px;
  font-weight: 300;
  line-height: 66px;
  margin-right: 10px;
  position: absolute;
}

.events__news-month {
  color: #5b6d66;
  font-size: 25px;
  font-weight: bold;
  line-height: 34px;
  position: absolute;
  right: 140px;
  max-width: 80px;
}

.events__news-arrow {
  padding: 32px 25px;
}

.delivary__costs-calculation i.fa {
  color: #5b6d66;
  position: relative;
  z-index: 1;
}

.delivary__costs-calculation i.fa.second {
  color: #f49835;
  transform: rotate(43deg);
}

.delivary__costs-arrow .btn>span span::after {
  content: "\f105";
  font: 184px/1 FontAwesome;
}

.delivary__costs-title span {
  color: #ffffff;
}

.item_title_part0 {
  font-weight: 500;
}

.item_title_part1 {
  font-weight: 800;
}

.item_title_part2 {
  font-weight: 600;
  color: #5b6d66;
}

.item_title_part3 {
  font-weight: 500;
  color: #f49835;
}

.delivary__costs-arrow .btn {
  color: #ffffff;
  margin: 0 20px;
}

.delivary__description {
  display: flex;
  margin: 60px 0 40px;
}

.delivary__description-left {
  width: 49%;
}

.delivary__description-right {
  width: 49%;
  padding-left: 20px;
}

.delivary__description-text {
  margin-bottom: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-shadow: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: uppercase;
  outline: none !important;
}

.readMore {
  max-width: 186px;
  background: #f49835;
  font-size: 21px;
  color: #ffffff;
  padding: 0px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.readMore>span {
  background: #f49835;
  display: block;
  padding: 0 15px 0 0;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.readMore>span span {
  background: #5b6d66;
  display: block;
  padding: 20px 13px 24px 29px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.readMore::before {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
  content: "";
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 34px 0 34px 34px;
  top: 0;
  right: -23px;
}

.readMore>span:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 11px;
  bottom: 0;
  content: "";
  background: #fff;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.readMore::after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 0;
  content: "";
  border-style: solid;
  border-color: transparent transparent transparent #f49835;
  border-width: 34px 0 34px 34px;
  top: 0;
  right: -34px;
}

.readMore>span span::after {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 2;
  content: "";
  border-style: solid;
  border-color: transparent transparent transparent #5b6d66;
  border-width: 34px 0 34px 34px;
  top: 0;
  right: -34px;
}

.readMore:hover {
  background: #f49835;
  background: #5b6d66;
}

.readMore:hover:before {
  border-color: transparent transparent transparent #845933;
}

.readMore:hover:after {
  border-color: transparent transparent transparent #5b6d66;
}

.readMore:hover>span {
  background: #5b6d66;
}

.readMore:hover>span:before {
  background: #845933;
}

.readMore:hover>span span {
  background: #f49835;
}

.readMore:hover>span span:after {
  border-color: transparent transparent transparent #f49835;
}

.solution {
  padding: 60px 0;
  background: #EEF0Ef;
  width: 100%;
}

.solution__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.solution__wrap-title {
  display: flex;
  align-items: center;
}

.delivary__option {
  background-image: url(../img/delivary-Bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 125px 0;
}

.delivary__option-items {
  display: flex;
  justify-content: center;
}

.delivary__option-item {
  overflow: hidden;
  margin-bottom: 40px;
  width: 100%;
  max-width: 41%;
}

.delivary__option-item:nth-child(1) {
  margin-right: 40px;
}

.solution__item-number {
  color: #f49835;
  font-size: 91px;
  font-weight: 300;
  line-height: 66px;
  margin-right: 10px;
}

.solution__item-title span {
  font-size: 21px;
  font-weight: bold;
  line-height: 37px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.delivary__option-link {
  display: flex;
  align-items: center;
  position: relative;
}

.delivary__option-item i.fa {
  color: #ffffff;
  font-size: 70px;
  line-height: 162px;
  margin-right: 8px;
  padding: 0 7px 8px 48px;
  position: relative;
}

.fa-truck:before {
  content: "\f0d1";
  position: relative;
  z-index: 2;
}

.fa-plane:before {
  content: "\f072";
  position: relative;
  z-index: 2;
}

.fa-dropbox:before {
  content: "\f16b";
  position: relative;
  z-index: 2;
}

.fa-calculator:before {
  content: "\f1ec";
  position: relative;
  z-index: 2;
}

.fa-bullseye:before {
  content: "\f140";
  position: relative;
  z-index: 2;
}

.fa-usd:before {
  content: "\f155";
  position: relative;
  z-index: 2;
}

.fa-trophy:before {
  content: "\f091";
  position: relative;
  z-index: 2;
}

.delivary__option-item i.fa::after {
  position: absolute;
  content: "";
  width: 2000px;
  height: 2000px;
  background: #f49835;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  margin-top: -916px;
  margin-right: 328px;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.delivary__option-content-inner::before,
.delivary__option-content-inner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2000px;
  height: 2000px;
  background: #5b6d66;
}

.delivary__option-content-inner::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -403px;
}

.delivary__option-content-inner::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -1429px;
}

.delivary__option-items .delivary__option-item a:hover i.fa:after {
  background: #5b6d66;
}

.delivary__option-items .delivary__option-item a:hover .delivary__option-content-inner:before,
.delivary__option-items .delivary__option-item a:hover .delivary__option-content-inner:after {
  background: #f49835;
}

.delivary__option-content-title {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 30px;
  color: #ffffff;
  max-width: 50%;
  width: 100%;
}

.delivary__option-content-title .title span {
  font-size: 21px;
  font-weight: bold;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25px;
}

.delivary__option-video-title {
  top: 60px;
  right: 15px;
}

.delivary__option-last-title {
  top: 60px;
  right: -40px;
}

.services {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.servuces__main-title h3 {
  color: #5b6d66;
  font-weight: 700;
}

.services__items {
  display: flex;
}

.services__item:nth-child(2) {
  margin-right: 50px;
  margin-left: 50px;
}

.services__item ul li+li {
  border-top: 1px solid #dee2e0;
}

.services__item ul li a {
  color: #f49835;
  font-size: 21px;
  font-weight: bold;
  line-height: 27px;
  padding: 22px 0px 20px;
  text-transform: uppercase;
}

.services__item ul li a::before {
  content: "\f0da";
  font: 30px/27px FontAwesome;
  color: #dee2e0;
  right: 0px;
  left: 0px;
  top: 3px;
  position: relative;
  margin-right: 15px;
}

.advatages {
  background-image: url(../img/advantages-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 125px 0;
}

.advantages__title {
  max-width: 59%;
  margin-bottom: 26px;
  color: #ffffff;
  line-height: 67px;
}

.advantages__title .item_title_part4 {
  font-weight: 800;
}

.services__galler-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .services__galler-inner{
  display: flex;
  justify-content: space-between;
} */
.services__gallery-item {
  margin-top: 40px;
  margin-right: 30px;
  flex-basis: 23%;
}

.services__gallery-img {
  overflow: hidden;
  width: 360px;
  height: 237px;
}

.services__gallery-img img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.services__gallery-img img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  filter: grayscale(100%);
}

.services,
.contacts,
.events__news,
.text__area {
  border-bottom: 1px solid #a6b9b2;
}

.contacts {
  padding: 90px 0;
  overflow: hidden;
}

.contacts__inner-item {
  width: 31%;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-top: 40px;
}

.contacts__info {
  display: flex;
}

.contacts__inner-title {
  color: #f49835;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

.contacts__information {
  max-width: 1100px;
  margin-top: 40px;
}

.contacts__description {
  width: 54%;
  margin-left: 5px;
}

.phone {
  width: 95%;
}

.phone a,
.mail a {
  color: #5b6d66;
}

.form__input {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin-top: 40px;
}

.input {
  max-width: 1190px;
}

.form__input-item {
  border: none;
  max-width: 33%;
  width: 100%;
}

input[type="email"],
input[type="text"],
input[type="phone"] {
  box-sizing: border-box;
  height: 44px;
  color: #5b6d66;
  padding: 8px 10px;
  outline: none !important;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 15px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding-right: 100px;
}

.form__input textarea {
  width: 100%;
  height: 174px;
  color: #5b6d66;
  padding: 8px 10px;
  outline: none !important;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 15px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form__buttons button {
  background: #f49835;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 40px;
}

.form__input-item input:focus,
.form__input textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

form input.invalid {
  border-color: #f8b9b7 !important;
  -webkit-box-shadow: 0 0 8px #f8b9b7 !important;
  -moz-box-shadow: 0 0 8px #f8b9b7 !important;
  box-shadow: 0 0 8px #f8b9b7 !important;
  color: #ef5f5a !important;
}

.error-msg {
  display: inline-block;
  font-size: 12px;
  visibility: hidden;
}

input.error,
textarea.error {
  box-shadow: 0 0 3px #f00;
}

form input.invalid {
  border: 1px solid red;
}

form input.valid {
  border: 1px solid #ccc;
}

form input.invalid+span.error-msg {
  visibility: visible;
}

#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-body {
  position: absolute;
  z-index: 4;
  color: green;
  left: 30%;
  top: 45%;
  font-size: 30px;
}

#close-popup {
  position: absolute;
  top: -100px;
  right: 0;
  z-index: 50;
  cursor: pointer;
  padding: 25px;
}

.opacity {
  opacity: 0.8;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.events {
  padding: 60px 0;
}

.events__item-img {
  overflow: hidden;
  width: 570px;
  height: 350px;
  object-fit: cover;
}

.events__item-img img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.events__item-img img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  filter: grayscale(100%);
}

.events__inner-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events__icon-user::before {
  content: "\f007";
  color: #f49835;
  font: normal normal normal 23px/1 FontAwesome;
  margin-right: 6px;
}

.events__data::before {
  content: "\f017";
  color: #f49835;
  font: normal normal normal 23px/1 FontAwesome;
  margin-right: 6px;
}

.events__title {
  margin: 30px 0 10px;
}

.events__info {
  display: flex;
  margin-bottom: 30px;
}

.events__icon-user {
  margin-right: 15px;
}

.navigation_readMore {
  padding-top: 90px;
}

.text__area {
  padding-bottom: 60px;
}

.text__area-title {
  margin: 27px 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 37px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #f49835;
}

.text__area-text {
  padding-bottom: 27px;
}

.item_title_part5 {
  font-weight: 700;
  color: #5b6d66;
}

.events__news {
  background: #EEF0Ef;
}

.footer {
  background: #5b6d66;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__inner-title,
.footer__list li span,
.footer__list li a {
  position: relative;
  z-index: 3;
}

.footer__list a {
  display: inline-block;
}

.footer__inner-title h3 {
  color: #ffffff;
  font-weight: 600;
}

.footer__list li span {
  color: #ffffff;
  font-weight: 600;
  font-size: 21px;
  line-height: 37px;
  text-transform: uppercase;
}

.footer__list li span+span,
.footer__list a {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a6b9b2;
}

.footer__list .footer__phone {
  color: #f49835;
  font-size: 41px;
}

.footer__inner-contacts::before {
  position: absolute;
  top: 35px;
  right: 48%;
  width: 2000px;
  height: 2000px;
  border: 28px solid #ffffff;
  background: #5b6d66;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -860px;
  margin-right: 490px;
  z-index: -1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 3;
}

.footer__copyright {
  margin: 30px 0;
}

.back__top {
  position: fixed;
  z-index: 999;
  bottom: 65px;
  right: 35px;
}

.back__top a {
  width: 42px;
  height: 42px;
  text-align: center;
  font: 32px/38px FontAwesome;
  border: 2px solid #f49835;
  background: #ffffff;
  color: #f49835;
}

.back__top a span::before {
  content: "\f106";
}

@media(max-width:1920px) {
  .delivary__costs-calculation {
    padding: 45px 24% 45px 30px;
  }

  .prev,
  .next {
    top: 43%;
  }
}

@media(max-width:1824px) {
  .triangle::after {
    left: -133%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }

  .prev,
  .next {
    top: 43%;
  }
}

@media(max-width:1780px) {
  .triangle::after {
    left: -140%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }
}

@media(max-width:1680px) {
  .triangle::after {
    left: -150%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }
}

@media(max-width:1550px) {
  .container {
    max-width: 1300px;
  }

  .triangle::after {
    left: -170%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }
}

@media(max-width:1440px) {
  .triangle::after {
    left: -180%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }
}

@media(max-width:1366px) {
  .container {
    max-width: 1210px;
  }

  .triangle .slide__item-info h3 {
    max-width: 712px;
  }

  .triangle::after {
    left: -200%;
  }

  .delivary__costs-calculation {
    padding: 45px 23% 45px 40px;
  }

  .delivary__option-content-title .title span {
    font-size: 18px;
  }

  .delivary__option-content-title {
    right: 2px;
  }

  .delivary__option-last-title {
    right: -49px;
  }

  .services__item ul li a {
    font-size: 20px;
  }

  .events__news-info {
    padding: 35px 30px 39px 15px;
  }
}

@media(max-width:1280px) {
  .triangle::after {
    left: -220%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }

  .events__news-info {
    min-width: 33%;
    padding: 35px 30px 39px 10px;
  }
}

@media(max-width:1200px) {
  .container {
    max-width: 1140px;
  }

  .list>li>a {
    font-size: 20px;
  }

  .slider {
    padding-top: 35px;
  }

  .triangle::after {
    left: -235%;
  }

  .delivary__costs-calculation {
    padding: 45px 20% 45px 30px;
  }

  .readMore>span span::after {
    right: -33px;
  }

  .time__photo-item {
    justify-content: space-around;
  }

  .main__bg,
  .time {
    padding: 60px 0;
  }

  .solution__item-number {
    font-size: 80px;
  }

  .solution__item-title span {
    font-size: 20px;
  }

  .solution__item-text {
    width: 89%;
  }

  .services__item ul li a {
    font-size: 17px;
  }

  .delivary__option-content-title .title span {
    font-size: 16px;
    line-height: 35px;
  }

  .delivary__option-content-title {
    right: 9px;
    width: 46%;
  }

  .delivary__option-last-title {
    right: -49px;
  }

  .advantages__title {
    max-width: 65%;
  }

  h1,
  h2,
  h3 {
    font-size: 51px;
  }

  .events__item-img {
    width: 510px;
    height: 330px;
  }

  .footer__inner-title h3 {
    font-size: 50px;
  }

  .footer__list .footer__phone {
    font-size: 38px;
  }

  .footer__list li span {
    font-size: 20px;
  }

  .footer__list li span+span,
  .footer__list a {
    font-size: 16px;
  }

  iframe {
    width: 500px;
  }

  .video__inner iframe {
    width: 600px;
    height: 410px;
  }
}

@media(max-width:1120px) {
  .container {
    max-width: 1065px;
  }

  .header__logo-img {
    width: 290px;
  }

  .list>li>a {
    padding: 17px 16px;
  }

  .triangle::after {
    left: -260%;
  }

  .delivary__costs-calculation::after {
    margin-top: -1057px;
  }

  .delivary__costs-calculation {
    padding: 14px 20% 64px 30px;
  }

  .delivary__costs-calculation i.fa {
    font-size: 67px;
  }

  .readMore::after {
    right: -33px;
  }

  .readMore>span span::after {
    right: -33px;
  }

  .solution__item {
    max-width: 500px;
  }

  .delivary__description-left {
    width: 51%;
  }

  .delivary__option-item i.fa::after {
    margin-right: 350px;
  }

  .delivary__option-content-inner::before,
  .delivary__option-content-inner::after {
    width: 2120px;
  }

  .services__gallery-item {
    flex-basis: 42%;
  }

  .services__item ul li a {
    font-size: 15px;
    padding: 15px 0px 15px;
  }

  .events__item-img {
    width: 495px;
    height: 330px;
  }

  .events__news-info {
    min-width: 36%;
  }

  .events__news-content {
    max-width: 47%;
  }

  .events__news-title {
    font-size: 17px;
  }
}

@media(max-width:1024px) {
  .container {
    max-width: 960px;
  }

  .header__logo-img {
    width: 275px;
  }

  .list>li>a {
    padding: 14px 12px;
    font-size: 17px;
  }

  .header__menu .list li.item__second a::after {
    margin-left: 8px;
  }

  .triangle::after {
    left: -290%;
  }

  .delivary__costs-calculation {
    padding: 110px 15% 69px 30px;
  }

  .delivary__costs-calculation i.fa {
    font-size: 62px;
  }

  .delivary__costs-calculation::after {
    margin-right: 373px;
  }

  .fa-calculator:before {
    top: -60px;
  }

  .delivary__description-left {
    width: 64%;
  }

  .delivary__option {
    padding: 60px 0;
  }

  .delivary__option-content-title {
    width: 42%;
    top: 23px;
    right: 7px;
  }

  .delivary__option-video-title,
  .delivary__option-last-title {
    top: 70px;
  }

  .delivary__option-content-title .title span {
    line-height: 25px;
  }

  .delivary__costs-calculation i.second {
    left: -49px;
    bottom: 14px;
  }

  .delivary__option-icon .fa-calculator:before {
    top: 0;
  }

  .advatages {
    padding: 60px 0;
  }

  .services__galler-wrap {
    justify-content: space-around;
  }

  .footer__inner-contacts::before {
    margin-right: 408px;
  }

  .form__input {
    display: block;
  }

  .form__input-item {
    max-width: 100%;
  }

  input[type="email"],
  input[type="text"],
  input[type="phone"] {
    width: 100%;
  }

  iframe {
    width: 380px;
  }

  .video__inner iframe {
    width: 600px;
  }

  .events__item-img {
    width: 465px;
    height: 310px;
  }

  .events__news-month {
    right: 195px;
    bottom: 26px;
    max-width: 123px;
  }

  .events__news-info::before {
    margin-top: -570px;
  }
}

@media(max-width:992px) {
  .container {
    max-width: 940px;
  }

  .triangle::after {
    left: -298%;
  }

  .solution__item {
    max-width: 450px;
  }

  .list>li>a {
    padding: 12px 10px;
  }

  .events__item-img {
    width: 430px;
    height: 290px;
  }

  .events__news-wrap:nth-child(even) .events__news-info::before {
    margin-top: -320px;
  }
}

@media(max-width:940px) {
  .list>li>a {
    padding: 13px 11px;
    font-size: 16px;
  }

  nav .list .item__second a {
    padding-right: 27px;
  }

  .triangle::after {
    left: -320%;
  }

  h1,
  h2,
  h3 {
    font-size: 45px;
  }

  .delivary__costs-arrow .btn {
    margin: 0px 10px;
  }

  .advantages__title {
    max-width: 71%;
  }

  .solution__item-number {
    font-size: 76px;
  }

  .solution__item-title span {
    font-size: 18px;
  }

  .delivary__option-item {
    max-width: 45%;
  }

  .services__item:nth-child(2) {
    margin-right: 35px;
    margin-left: 35px;
  }

  .services__item ul li a::before {
    top: 5px;
    margin-right: 8px;
  }

  .advantages__title .item_title_part4 {
    font-weight: 700;
  }

  .footer__inner-contacts::before {
    margin-right: 384px;
  }

  .events__item-img {
    width: 390px;
    height: 270px;
  }

  .events__news-info {
    min-width: 45%;
  }

  .events__news-title {
    font-size: 15px;
  }

  .events__news-text {
    font-size: 13px;
  }

  .events__news-wrap:nth-child(even) .events__news-info::before {
    margin-top: -295px;
  }

  .events__news-info::before {
    margin-top: -590px;
  }

  .events__news-month {
    right: 230px;
  }

  .events__news-date {
    font-size: 75px;
    line-height: 55px;
  }
}

@media(max-width:840px) {
  body {
    font-size: 13px;
    line-height: 25px;
  }

  .container {
    max-width: 790px;
  }

  .list>li>a {
    padding: 11px 8px;
    font-size: 15px;
  }

  .slick-list,
  .slick-btn {
    display: none !important;
  }

  .triangle .slide__item-info h3 {
    padding: 180px 0 0 20%;
  }

  .triangle::after {
    left: -380%;
  }

  .delivary__costs-arrow .btn {
    margin: 0 9px;
  }

  .solution__item-number {
    font-size: 68px;
  }

  .solution__item-title span {
    font-size: 15px;
  }

  .services__item ul li a {
    font-size: 12px;
    padding: 12px 0px 12px;
  }

  .delivary__option-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .delivary__option-item:nth-child(1) {
    margin-right: 0;
  }

  .delivary__option-item {
    max-width: 75%;
  }

  .delivary__option-content-title {
    top: 33px;
    right: 25px;
    max-width: 47%;
  }

  .delivary__option-video-title,
  .delivary__option-last-title {
    top: 64px;
  }

  h1,
  h2,
  h3 {
    font-size: 36px;
  }

  .triangle .slide__item-info h3 {
    font-size: 31px;
    line-height: 64px;
  }

  .footer__inner-contacts::before {
    border: none;
    width: 0;
    height: 0;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 600px;
  }

  .events__item-img {
    width: 360px;
    height: 240px;
  }

  .events__news-content {
    max-width: 60%;
  }

  .events__news-info {
    padding: 35px 30px 39px 70px;
    min-width: 37%;
  }

  .events__news-info::before {
    right: 200px;
  }

  .events__news-month {
    right: 100px;
  }

  .events__news-wrap:nth-child(even) .events__news-info::before {
    margin-top: 7px;
  }

  .events__news-info::before {
    margin-top: -890px;
  }

  .events__news-date {
    color: #fff;
    font-size: 91px;
    line-height: 45px;
  }
}

@media(max-width:768px) {
  .container {
    max-width: 625px;
  }

  .header__top {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .header__logo-img {
    width: 290px;
  }

  .header__menu .list {
    display: none;
  }

  .header__menu .open {
    display: block;
    margin-top: 10px;
  }

  .header__menu .open li {
    text-align: center;
  }

  .header__menu .open li a:hover {
    background: #f49835;
  }

  .burger__menu {
    display: block;
    padding: 0 300px;
    border: 1px solid #cccccc;
    margin: 27px 0 0;
  }

  .burger__menu .burger__link {
    display: block;
    font-size: 0;
    line-height: 0;
    padding-top: 30px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    height: 0;
    position: relative;
  }

  .burger__menu .burger__link::before {
    font-size: 20px;
    line-height: 30px;
    font-family: FontAwesome;
    content: '\f0c9';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #5b6d66;
  }

  .slider {
    padding: 0;
  }

  .delivary__costs-title {
    margin: 0;
  }

  .delivary__costs-arrow .btn {
    margin: 0 0px;
  }

  h1,
  h2,
  h3 {
    font-size: 29px;
    line-height: 45px;
  }

  .video__inner iframe {
    width: 500px;
  }

  .footer {
    padding: 40px 0;
  }

  footer__inner-contacts {
    margin-bottom: 40px;
  }

  .video__inner iframe {
    height: 330px;
  }

  .events__item-img {
    width: 100%;
    height: 385px;
  }

  .events__news-month {
    font-size: 20px;
  }

  .events__news-arrow {
    padding: 32px 10px;
  }

  .events__news-info {
    min-width: 33%;
    padding: 35px 30px 39px 19px;
  }

}

@media(max-width:640px) {
  .services .container {
    max-width: 520px;
  }

  .burger__menu {
    padding: 0px 250px;
  }

  .delivary__costs-calculation i.fa {
    font-size: 49px;
  }

  .delivary__costs-calculation::after {
    margin-right: 350px;
  }

  .delivary__description-left {
    width: 100%;
  }

  .delivary__description {
    display: block;
    margin: 35px 0 40px;
  }

  .delivary__description-right {
    width: 100%;
    padding-left: 0;
  }

  .solution,
  .services,
  .advatages,
  .delivary__option {
    padding: 40px 0;
  }

  .solution .container {
    max-width: 400px;
  }

  .solution__item-title span {
    line-height: 30px;
  }

  .solution__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solution__item-text {
    width: 94%;
  }

  .services__item ul li a {
    font-size: 21px;
    padding: 17px 0px 17px;
  }

  .services__items {
    display: flex;
    flex-direction: column;
  }

  .services__item:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  .footer__inner-contacts {
    margin-bottom: 20px;
  }

  iframe {
    width: 450px;
  }

  .video__inner iframe {
    width: 450px;
  }

  .events__news-date {
    font-size: 75px;
    line-height: 75px;
  }

  .events__news-month {
    right: 80px;
    font-size: 17px;
    line-height: 26px;
    bottom: 10px;
    max-width: 32px;
  }

  .events__news-info {
    min-width: 26%;
  }
}

@media(max-width:576px) {
  .burger__menu {
    padding: 0px 160px;
  }

  .delivary__costs-arrow .btn>span span::after {
    font: 130px/1 FontAwesome;
  }

  h1,
  h2,
  h3 {
    font-size: 24px;
    line-height: 39px;
  }

  .services .container {
    max-width: 425px;
  }

  .delivary__option-item {
    max-width: 85%;
  }

  .delivary__costs-arrow .btn {
    padding: 10px 8px;
  }

  .delivary__option-video-title,
  .delivary__option-last-title {
    right: 14px;
  }

  .events__item-img {
    height: 280px;
  }

  .events__news-date {
    font-size: 58px;
    line-height: 96px;
  }

  .events__news-month {
    right: 35px;
  }

  .contacts__inner-item {
    width: 100%;
    margin-top: 20px;
  }
}

@media(max-width:480px) {
  .burger__menu {
    padding: 0px 162px;
  }

  .services .container {
    max-width: 320px;
  }

  .delivary__costs-calculation {
    padding: 110px 5% 69px 30px;
  }

  .delivary__costs-calculation i.fa {
    font-size: 46px;
  }

  .delivary__costs-calculation i.fa.second {
    color: #ffffff;
  }

  .delivary__costs-calculation::after {
    width: 0;
    height: 0;
  }

  .delivary__option-content-title {
    max-width: 47%;
    top: 15px;
  }

  .delivary__option-content-title .title span {
    font-size: 15px;
  }

  .delivary__option-video-title,
  .delivary__option-last-title {
    top: 63px;
    right: 15px;
  }

  .delivary__option-item i.fa {
    padding: 0 7px 8px 13px;
  }

  .delivary__option-item i.fa::after {
    margin-right: 377px;
  }

  .delivary__option-content-inner::before {
    margin-top: -432px;
  }

  .delivary__option-content-inner::after {
    width: 2128px;
    margin-top: -1400px;
  }

  .services__gallery-item {
    flex-basis: 88%;
    margin-right: 0;
  }

  .services__item ul li a {
    font-size: 17px;
    padding: 15px 0px 15px;
  }

  iframe {
    width: 330px;
  }

  .video__inner iframe {
    width: 310px;
    height: 200px;
  }

  .events__news-date {
    font-size: 36px;
    line-height: 129px;
  }

  .services__gallery-img {
    width: 100%;
  }

  .services__gallery-img img {
    width: 100%;
  }
}

@media(max-width:320px) {
  .burger__menu {
    padding: 0px 144px;
  }

  .delivary__costs-calculation {
    padding: 110px 4% 69px 16px;
  }

  .delivary__costs-calculation i.fa {
    font-size: 44px;
  }

  .delivary__costs-arrow .btn>span span::after {
    font: 110px/1 FontAwesome;
  }

  .delivary__option-content-title {
    width: 60%;
  }

  .delivary__option-content-title .title span {
    line-height: 24px;
    font-size: 15px;
  }

  .delivary__option-video-title,
  .delivary__option-last-title {
    top: 65px;
    right: 35px;
  }

  .delivary__option-content-inner::after {

    height: 1894px;
    margin-top: -1300px;
  }

  .delivary__option-content-inner::before {
    width: 2330px;
    margin-top: -439px;
  }

  .delivary__option-item i.fa::after {
    margin-right: 407px;
  }

  .delivary__option-item i.fa {
    padding: 0 14px 8px 6px;
    font-size: 34px;
  }

  .services__item ul li a {
    font-size: 16px;
    padding: 15px 0px 15px;
  }

  .footer__inner-title h3 {
    font-size: 44px;
  }

  iframe {
    width: 300px;
  }

  .video__inner iframe {
    width: 280px;
  }

  .events__item-img {
    height: 190px;
  }

  .events__news-date {
    font-size: 36px;
    line-height: 18px;
    right: 1px;
  }

  .events__news-month {
    bottom: 170px;
    right: 23px;
  }
}
